{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    Task Manager
{% endblock %}
{% block main %}
   <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'home_module.views.notification' %}
            </div>
            <div class="col-md-8">
                <div class="card mb-4 text-white">
                    <div class="card-header bg-dark py-3">
                        Start a New Project
                    </div>
                    <div class="card-body text-dark">
                        <form method="post" action="{% url 'start_project' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-secondary">Start Project</button>
                        </form>
                    </div>
                </div>


                    <div class="card mb-4 text-white">
                    <div class="card-header bg-dark py-3">
                        Recent Projects
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                             {% for project in recent_projects %}
                                <a href="{% url 'project_detail' project.id %}">
                                <li class="list-group-item">{{ project.name }}</li>
                                </a>
                            {% empty %}
                                <li class="list-group-item">No recent projects.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}