{% extends 'shared/_layout.html' %}
{% block title %}
    Tasks
{% endblock %}
{% block main %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 text-white">
                    <div class="card-header bg-dark py-3">
                        Tasks to Do
                    </div>
                    <div class="card-body">
                        {% for task in incomplete_tasks %}
                            {% if not task.completed %}
                                <div class="task-card card mb-2">
                                    <div class="card-body">
                                        <div class="task-info text-dark">
                                            <h5 class="card-title">{{ task.name }}</h5>
                                            <p class="card-text">{{ task.description }}</p>
                                            <p class="task-dates">Created: {{ task.start_date }} | Until: {{ task.due_date }}</p>
                                        </div>
                                        <div class="task-actions">
                                            <form action="{% url 'complete_task' task.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">Complete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 text-white">
                    <div class="card-header bg-dark py-3">
                        Completed Tasks
                    </div>
                    <div class="card-body">
                        {% for task in completed_tasks %}
                            {% if task.completed %}
                                <div class="task-card card mb-2">
                                    <div class="card-body">
                                        <div class="task-info text-dark">
                                            <h5 class="card-title">{{ task.name }}</h5>
                                            <p class="card-text">{{ task.description }}</p>
                                            <p class="task-dates">Created: {{ task.start_date }} | Completed: {{ task.due_date }}</p>
                                        </div>
                                        <div class="task-actions">
                                            <form action="{% url 'reopen_task' task.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Reopen</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
